<navmenu></navmenu>
<div class="container my-5">
    <div class="row">
      <div class="card-deck">
        <div class="card-item" *ngFor="let cita of citas">
          <div class="card-header">
            <h5 class="card-title">{{cita.id_cita}}.{{cita.nombre}} {{cita.last_name}}</h5>
          </div>
          <div class="card-body">
            <div id="texto">
              <p class="card-text fecha" id="cita-date">Fecha: {{cita.fecha}}</p>
              <p class="card-text cedula" id="cita-cedula">Cedula: {{cita.cedula}}</p>
              <p class="card-text proposito" id="cita-proposito">Proposito de la cita: {{cita.proposito}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<pagination-buttons></pagination-buttons>
