<navmenu></navmenu>
<div class="title">
    <h4>Register</h4>
</div>
<div id="form_reg">
    <form id="formulario-reg" [formGroup]="RegForm" (ngSubmit)="onsubmit()">
                <label for="inputTextCi" >Id cita</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputTextCi"
                  placeholder="id_cita"
                  required="required"
                  formControlName="id_cita"
                />
                <label for="inputTextR" >Nombre</label>
                <input
                    type="text"
                    class="form-control"
                    id="inputTextR"
                    placeholder="Nombre"
                    required="required"
                    formControlName="nombre"
                />
                <label for="inputPassword" >Apellido</label>
                <input
                    type="text"
                    class="form-control"
                    id="inputPassword"
                    placeholder="Apellido"
                    required="required"
                    formControlName="last_name"
                />
                <label for="inputTextRP" >Cedula</label>
                <input
                    type="text"
                    class="form-control"
                    id="inputTextRP"
                    placeholder="Cedula"
                    required="required"
                    formControlName="cedula"
                />
                <div>
                <label for="inputTextA" >Fecha</label>
                <input
                    type="text"
                    class="form-control"
                    id="inputTextA"
                    placeholder="Fecha"
                    required="required"
                    formControlName="fecha"
                />
                  <label for="inputTextB" >Proposito</label>
                <input
                    type="text"
                    id="inputTextB"
                    class="form-control"
                    placeholder="Proposito"
                    required="required"
                    formControlName="proposito"
                />
                  <button type="submit" >Registrar</button>
        </div>
    </form>
</div>

